.settings/
_LVL_PC/
Animations/
assets/
Editor/
SWBF2-Lua-API-master/
.buildpath
.project
Battlefront2API.doclua
zeroeditor.exe
addme/*.log
_BUILD/Common/MUNGED/
_BUILD/Common/*.log
_BUILD/Shell/MUNGED/
_BUILD/Shell/*.log
_BUILD/Load/MUNGED/
_BUILD/Load/*.log
_BUILD/Sound/MUNGED/
_BUILD/Sound/*.log
_BUILD/Worlds/Common/MUNGED/
_BUILD/Worlds/Common/*.log
_BUILD/Worlds/HG2/MUNGED/
_BUILD/Worlds/HG2/*.log
_BUILD/Sides/HG2/MUNGED/
_BUILD/Sides/HG2/*.log
_BUILD/Sides/ALL/MUNGED/
_BUILD/Sides/ALL/*.log
_BUILD/Sides/Common/MUNGED/
_BUILD/Sides/Common/*.log
_BUILD/Sides/REP/MUNGED/
_BUILD/Sides/REP/*.log
_BUILD/Sides/IMP/MUNGED/
_BUILD/Sides/IMP/*.log
_BUILD/Sides/CIS/MUNGED/
_BUILD/Sides/CIS/*.log